<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="5.8.4" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.2.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="LiveChartsCore" version="2.0.0-beta.90" targetFramework="net472" />
  <package id="LiveChartsCore.SkiaSharpView" version="2.0.0-beta.90" targetFramework="net472" />
  <package id="LiveChartsCore.SkiaSharpView.WPF" version="2.0.0-beta.90" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1072.54" targetFramework="net472" />
  <package id="MyToolkit" version="2.5.16" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.0-preview.155" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.0-preview.155" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.0-preview.155" targetFramework="net472" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.88.0-preview.155" targetFramework="net472" />
  <package id="SkiaSharp.Views.WPF" version="2.88.0-preview.155" targetFramework="net472" />
  <package id="Stimulsoft.Svg" version="2022.1.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
</packages>